################################################################################
# This .gitignore file was  created by Equinox (Nitesh Ranjan Mohanty).
################################################################################

/node_modules/
/.vs/
